////////////////////////////////////////////////////////////////
// Default Colors - From Genesis 2.01
///////////////////////////////////////////////////////////////
// Test Colors using   _test_gen.scss
//
// Genesis Colors
$color01: #ffffff;
$color02: #f5f5f5;
$color03: #f15123;
$color04: #eeeeee;
$color05: #dddddd;
$color06: #999999;
$color07: #666666;
$color08: #333333;
$color09: blue;
//////////////////////////////////////////////////////////////////
$primary: $color08;
$hover: $color03;
$bg_background: $color02;
$text_light:$color05;
$text_medium:$color06;
$text_dark:$color08;
$text_black:$color08;
$text_white:$color01;
$text_hover:$color03;
$bg_light:$color05;
$bg_medium:$color06;
$bg_dark:$color08;
$bg_black:$color08;
$bg_white:$color01;
$bg_hover:$color03;
$bg_footer:$color02;
$author:$color06;
$comntlight:$color02;
$comntdark:$color05;
$shadcolor:$color06;
$line:$color06;
$menulight:$color05;
$menudark:$color08;
$text_link:$color09;
//////////////////////////////////////////////////////////////////

